.form{
    border:1px solid rgb(175, 168, 168);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

.loader{
    padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}